.DS_Store
node_modules/

html/*
!html/.gitkeep
src/*
!src/.gitkeep
dist/*
!dist/.gitkeep
mock/*
!dist/worldcup.js
beta/*
!beta/.gitkeep
trunk/*
!trunk/.gitkeep

nginx-1.12.0/logs/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
