.DS_Store
node_modules/

html/
!html/.gitkeep
src/
!src/.gitkeep
dist/
!dist/.gitkeep
beta/
!beta/cblive/web/.gitkeep
!beta/static_cblive/src/.gitkeep
!beta/static_cblive/dist/.gitkeep
trunk/
!trunk/cblive/web/.gitkeep
!trunk/static_cblive/src/.gitkeep
!trunk/static_cblive/dist/.gitkeep

nginx-1.12.0/logs/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
